.custom-form {
    display: grid;
    grid-template-columns: 1fr;
    /* align-items: start; */
    /* justify-content: center; */
    width: 100%;
    /* margin: 0 auto; */
    padding: 0.5rem 0.75rem;
    border-radius: 10px;
    /* background-color: #fa3a3a4d; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
.custom-form label {
    display: block;
}

.custom-form.active {
    display: flex;
}

.custom-form h2 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #f0e8e8;
}
.custom-form .form-group {
    width: 100%;
}
.custom-form .form-group input {
    /* width: 100%; */
    margin-bottom: 10px;
    padding: 0.5rem;
    border: 1px solid #f0e8e8;
    border-radius: 5px;
    font-size: 1rem;
}

.custom-form > button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    color: #161515;
    background-color: #007bff;
    cursor: pointer;
}

