.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(19, 22, 54);
    background-color: rgba(0, 0, 0, 0.445);

}

.modal {
    background-color: rgb(212, 255, 181);
    padding: 16px;
}